<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>SZIA</title>
    <meta name="description" content="SZIA Store" />
    <meta name="author" content="SitePoint" />
    <link rel="stylesheet" href="products.css" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="store.js" defer></script>
</head>
<div id="topBar">
    <table width="100%">
        <tr>
            <td width="33.33%">

            </td>
            <td width="33.33%">
                <center>
                    <a href="index.html"><img src="images/sziaLogo.png" height="70px" id="menuItem" /></a>
                </center>
            </td>
            <td width="33.33%">
            </td>
        </tr>
    </table>
    <ul class="nav">
        <li><a href="store">Products</a></li>
        <li><a href="contactUs.html">Contact Us</a></li>
        <li><a href="companyInfo.html">Company Info</a></li>
        <li><a href="Faq.html">FAQ</a></li>
        <li><a href="#">Customer Support</a></li>
    </ul>
</div>

<body>
    <header>
        <h1>
            <center>
                <img src="images/productsT.png" height="40px" />
            </center>
        </h1>
    </header>


    <!--
MAIN BODY
REMOVE THIS TO INSERT ELEMENTS INTO A NEW PAGE
-->

    <center>
        <section class="container content-section">
            <div class="shop-items">
                <% items.products.forEach(function(item) { %>
                    <div class="card">
                        <div class="grider-container">
                            <div class="shop-item" data-item-id="<%= item.id %>">
                                <img class="shop-item-image" src="Images/<%= item.imgName %>" width="100%" />
                              <span class="shop-item-title"><%= item.name %></span>
                              <div class="shop-item-details">
                                <p class="shop-item-price">$<%= item.price /100 %></p>
                                <p class="shop-item-newPrice">$<%= item.newPrice /100 %></p>
                                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                              </div>
                            </div>
                             
                      </div>
                    </div>
                  <% }) %>
            </div>
        </section>
    </center>
        
    <center>
    <section class="container content-section">
        <h2 class="main-title">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>

    </section>
</center>

        
</body>
<!--
END OF MAIN BODY
-->

<footer>
    <center>
        <b>
            ©2020 SZIA, Inc. All rights reserved.
        </b>
    </center>
</footer>

</html>
